@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Regular.otf");
}
/* Should i put a format name for openType*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1360px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  max-height: 40px;
  max-width: 89px;
}
.header__info {
  margin: 0 0 0 24px;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
}
.navigation__container {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.navigation__button {
  padding: 0;
  border: none;
  background-color: #dcdcdc;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.navigation__button:hover {
  cursor: pointer;
  opacity: 50%;
}
.navigation__user-info {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.navigation__avatar {
  width: 40x;
  height: 40px;
  margin-left: 12px;
}
